body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

.header {
    display: flex;
    height: 7vh;
    width: 100%;
    top: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh 1.5vw;
    background-color: #ffffff;
}

.header-icon {
    height: 6vh;
    width: auto;
    border: #edae49 0.4vh solid;
}

.header-button {
    display: inline-block;
    cursor: pointer;
    padding-right: 3vw;
}

.bar1, .bar2, .bar3 {
    width: 4vh;
    height: 0.6vh;
    background-color: #edae49;
    margin: 1vh 1vh;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(-30vw, 1.6vh) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
    transform: translate(-30vw, 0);
}

.change .bar3 {
    transform: translate(-30vw, -1.6vh) rotate(45deg);
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    font: 2em 'Raleway';
    right: -30vw; /* Sidebar initially hidden */
    width: 30vw;
    height: 100%;
    border-left: #003d8f 0.5vh solid;
    background-color: #ffffff; /* Example color */
    transition: right 0.3s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
}

.main-section {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: auto;
    height: auto;
}

.grid-container {
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: auto;
    padding: 10px;
}

.grid-container-main {
    display: grid;
    grid-template-areas:
        'store-items map map';
}

.store-items {
    display: flex;
    position: relative;
    flex-direction: column; /* Elemente in Spaltenrichtung anordnen */
    align-items: center; /* Links ausrichten */
    height: 90vh;
    width: 30vw;
    background-color: #003d8f; 
    border-right: #edae49 0.4vh solid;
    overflow-y: auto; /* Falls die Elemente den Bildschirmrand überschreiten */
}

.store-items::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar */
}

.store-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex; /* Flexbox verwenden */
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: #ffffff;
    border-top:#edae49 0.4vh solid;
}

.store-nav > div {
    flex: 1;
    font-size: 3vh;
}

.store-nav > div:first-child {
    flex: 2;
    text-align: left;
    padding-left: 5%;
}

.store-nav > div:not(:first-child) {
    text-align: right; 
    padding-right: 5%;
}

.store-item {
    height: 20vh;
    width: 28.5vw;
    background-color: #edae49;
    margin: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: center;
    cursor: pointer;
    border-radius: 2vh;
    font-size: 2vh; /* Adjust the font size as needed */
}

.map {
    display: flex;
    height: 89.6vh;
    width: 69.6vw;
    text-align: center;
    background-color: #edae49;
    border-left:#edae49 0.4vh solid; 
    border-top:#edae49 0.4vh solid; 
}

.grid-item {
    padding: 20px;
    text-align: center;
    border:#ffffff;
}

.sidebar.active {
    right: 0;
}

.sidebar-image {
    position: relative;
    z-index: 1;
    height: 30vh;
    width: auto;
}

.primary-navigation {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 3vh;
}

.primary-navigation ul {
    list-style: none; /* Remove default list style */
}

.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    display: none;
    background: white;
    list-style: none;
}

.primary-navigation ul li:hover > ul,
.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 5px -1px #ccc;
}

.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
    font-size: 2vh;
}

.primary-navigation ul li ul li a {
    text-decoration: none; /* Remove underline */
    color: black; /* Keep default color */
}

.primary-navigation ul li ul li a:hover {
    padding-left: 10px; /* Add padding on hover */
    border-left: 2px solid #edae49; /* Add border on hover */
    transition: all 0.3s ease; /* Add transition effect */
    color: #003d8f; /* Change color on hover */
}

.primary-navigation ul li > a {
    text-decoration: none; /* Remove underline */
    color: black; /* Keep default color */
}

.primary-navigation ul li > a:hover {
    color: #3ca0e7; /* Change color on hover */
}

